{% extends 'layout.html' %}
    {% block content %}
        <div class="layui-fluid">
            <div class="layui-row">
                  <div class="layui-col-md8 layui-col-sm12 layui-col-xs12">
<!--                    <div id="video_div"></div>-->
                      <div class="prism-player" id="player-con"></div>
                  </div>
                  <div class="layui-col-md4 layui-col-sm12 layui-col-xs12">
                      <div class="layui-row">
                          <div id="play_video00"></div>
                      </div>
                  </div>
            </div>
        </div>

    <style>
    </style>
<script id="play_video01" type="text/html">
<%#  layui.each(d, function(index, item){ %>
    <div class="layui-col-md3 layui-col-sm3 layui-col-xs3" style="padding: 4px">
        <button type="button" class="layui-btn layui-btn-fluid layui-btn-normal" onclick="buts(this)" sid="<%= index %>"><%= item['name'] %></button>
    </div>
<%#  }); %>

<%#  if(d.length === 0){ %>
无数据
<%#  } %>
</script>
<script>
function play_video1(s1){
    // player.replayByVidAndPlayAuth(newVid, newPlayAuth);
    if(player){
        player.dispose();
    }
    player = new Aliplayer({
      "id": "player-con",
       "source": s1,
      // "source": "https://objectstorage.ap-seoul-1.oraclecloud.com/n/cnbkymfad5oc/b/doube-1/o/52.mp4",
      "width": "100%",
      "height": "100%",
      "autoplay": true,
      "isLive": false,
      "rePlay": false,
      "playsinline": true,
        "keyShortCuts":true,
      "preload": true,
      "controlBarVisibility": "hover",
      "useH5Prism": true,
      "extraInfo": {
        "crossOrigin": "anonymous"
      },
      "skinLayout": [
        {
          "name": "bigPlayButton",
          "align": "blabs",
          "x": 30,
          "y": 80
        },
        {
          "name": "H5Loading",
          "align": "cc"
        },
        {
          "name": "errorDisplay",
          "align": "tlabs",
          "x": 0,
          "y": 0
        },
        {
          "name": "infoDisplay"
        },
        {
          "name": "tooltip",
          "align": "blabs",
          "x": 0,
          "y": 56
        },
        {
          "name": "thumbnail"
        },
        {
          "name": "controlBar",
          "align": "blabs",
          "x": 0,
          "y": 0,
          "children": [
            {
              "name": "progress",
              "align": "blabs",
              "x": 0,
              "y": 44
            },
            {
              "name": "playButton",
              "align": "tl",
              "x": 15,
              "y": 12
            },
            {
              "name": "timeDisplay",
              "align": "tl",
              "x": 10,
              "y": 7
            },
            {
              "name": "fullScreenButton",
              "align": "tr",
              "x": 10,
              "y": 12
            },
            {
              "name": "setting",
              "align": "tr",
              "x": 15,
              "y": 12
            },
            {
              "name": "volume",
              "align": "tr",
              "x": 5,
              "y": 10
            },
            {
              "name": "snapshot",
              "align": "tr",
              "x": 10,
              "y": 12
            }
          ]
        }
      ]
    }, function (player) {

        // console.log("The player is created");
        /* h5截图按钮, 截图成功回调 */
        player.on('snapshoted', function (data) {
              var pictureData = data.paramData.base64;
              var downloadElement = document.createElement('a');
              downloadElement.setAttribute('href', pictureData);
              var fileName = 'Aliplayer' + Date.now() + '.png'
              downloadElement.setAttribute('download', fileName);
              downloadElement.click();
              pictureData = null;
        });
      }
    );
}
function play_video(s1){
    		/**
	  * 播放函数说明:
	  * @param {string} url   视频地址，支持hls,mp4,rtmp,http-flv协议.
	  * @param {string} divId 视频播放窗口的div的id
	  * @param {string} format 视频流格式，可以是： flv, hls, rtmp, mp4等.
	  */
		play(s1,"video_div","hls");
}
//获取所有数据
function datas(){
    var url = layui.url();
    let play_url = url.search.play_url
    let loadIndex = JiaZai();
    console.log(url);
    $.get('/video_playlist',{play_url},
        function(e){
            console.log(e);
            play_lists = e;
            jishu(e);
            layer.close(loadIndex);
        }
    );
}
//渲染集数和换页
function jishu(data){
    var laypage = layui.laypage;
    var laytpl = layui.laytpl;
    laypage.render({
        elem: 'demo-laypage-data',
        count: data.length,
        limit:40,
        layout: ['prev', 'page', 'next','count'], // 功能布局
        jump: function(obj,first){
            play_ji = obj.curr;
            console.log(play_ji);
            console.log('第一次');
          // 模拟渲染
            var arr = [];
            var thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
            // console.log(thisData);
            layui.each(thisData, function(index, item){
              arr.push(item);
            });
            // console.log(arr);
            var getTpl = document.getElementById('play_video01').innerHTML; // 获取模板字符
            var elemView = document.getElementById('play_video00'); // 视图对象
            // 渲染并输出结果
            laytpl(getTpl,{open:'<%',close: '%>'}).render(arr, function(str){
              elemView.innerHTML = str;
            });
            // 首次不执行
            if(!first){
              console.log('第二次执行');
            }
        }
      });
}
//点击按钮事件
function buts(e){
    if(btn_play_color){
         $(btn_play_color).css("background-color","");
    }
    $(e).css("background-color","#F56C6C");
    btn_play_color = e;
    let a = $(e).attr("sid");
    let a_ = (Number(play_ji) - 1) * 40 + Number(a);
    let b = play_lists[a_]['name_url'];
    // play_video(b);
    console.log(a_);
    console.log(b);
    play_video1(b);
}
let play_lists = null;
let btn_play_color = null;
let player = null;
let play_ji = null;
layui.use(function(){
    datas();
    // play_video1('https://objectstorage.ap-seoul-1.oraclecloud.com/n/cnbkymfad5oc/b/doube-1/o/52.mp4');
    // play_video('https://objectstorage.ap-seoul-1.oraclecloud.com/n/cnbkymfad5oc/b/doube-1/o/52.mp4');
});
</script>
    {% endblock content %}
    {% block bottom %}
    <div id="demo-laypage-data"></div>
    {% endblock bottom %}